.nav {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 1rem;
    white-space: nowrap;
    overflow: hidden;
    flex: 1;
}

.nav-container {
    background: #262626;
    flex: 0 1 auto;
    display: flex;
}

.logo {
    filter: drop-shadow(4px 4px 5px rgb(185, 19, 52));
}

.end {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    justify-content: center;
    flex: 0;
}

.end .icon-button {
    position: absolute;
    right: 2%;
    margin-left: 2rem;
}

.end .volume-slider {
    position: absolute;
}

.end .icon-button {
    transition: all 0.2s;
}

@media only screen and (max-width: 410px) {
    .end .icon-button {
        visibility: hidden;
    }
}
