.App {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.scrollbar-thumb {
  background: #121212 !important;
  width: 8px !important;
}

.scrollbar-track {
  width: 8px !important;
  background: #222222 !important;
}

.link {
  color: inherit;
  transition: all 0.2s;
}

.link:hover {
  color: #a1a1a1;
}

.section-title {
  font-size: clamp(1rem, 2.5vw, 2.5rem);
  color: crimson;
  text-align: center;
  filter: drop-shadow(4px 4px 5px rgb(185, 19, 52));
}

.section-divider {
  border: 1px solid rgb(185, 19, 52);
  width: 4%;
}